footer.footer
  .footer__body
    a.footer-title(id="author", href="/", itemprop="author", itemscope, itemtype="http://schema.org/Person", itemref="authorImage")
      div(itemprop="name")
        .footer-title__text--first-name James
        | #{' '}
        .footer-title__text--last-name Pamplin

    ul.footer__link-list
      li.footer__link-item
        a.footer__link--author(href="/")
          img.footer__link-image--author(id="authorImage", src="https://www.gravatar.com/avatar/eda794898bf1c746b1784bbb8870eb93.png?s=160", itemprop="image")

      li.footer__link-item
        a.footer__link--twitter(href="https://twitter.com/pampo")
          | Twitter
      li.footer__link-item
        a.footer__link--github(href="https://github.com/jamespamplin")
          | Github

      li.footer__link-item
        a.footer__link--linkedin(href="https://www.linkedin.com/in/jamespamplin")
          | Linkedin
