footer.footer
  .footer__body
    a.footer__title(href="/about")
      .footer__title--first-name James
      .footer__title--last-name Pamplin



    ul.footer__link-list
      li.footer__link-item
        a.footer__link--author(href="/about")
          | About the author
          img.footer__link-image--author(src="http://www.gravatar.com/avatar/eda794898bf1c746b1784bbb8870eb93.png?s=320")

      li.footer__link-item
        a.footer__link--twitter(href="http://twitter.com/pampo")
          | Twitter
      li.footer__link-item
        a.footer__link--github(href="https://github.com/jamespamplin")
          | Github

      li.footer__link-item
        a.footer__link--linkedin(href="http://www.linkedin.com/in/jamespamplin")
          | Linkedin
