

%blog-tag {
  margin-right: 5px;

  &::before {
    content: '#';
  }
}

%blog-date {
  color: #777;
  letter-spacing: 0.5px;
}

.post {

  &__date {
    @extend %blog-date;
  }

  &__tags {

  }

  &__tag {
    @extend %blog-tag;
  }

}


.post-list {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    margin: 0 0 60px;
    padding: 0;

    // Override: hide the "read more" link
    & p:last-child {
      display: none;
    }
  }

  &__item:last-child {
    margin: 0;
  }
}


.post-snippet {

  &__title {

    &-link {

    }
  }

  &__date {
    @extend %blog-date;
  }


  &__tag {
    @extend %blog-tag;
  }

}
