// Site-wide colour constants

// Main title first/last name colours
//   Included shadow colour here, but isn't used - now calculated.
$c-name-first: #927fbf;
$c-name-first-shadow: #6e55a9;

$c-name-last: #271C48;
$c-name-last-shadow: #6448b8;


$c-footer-background: #1D365D;
$c-footer-text: #ecefe2;
