
.footer {
  background-color: $c-footer-background;
  margin-top: 20px;

  &__body {
    @extend %col-center;
  }

  &-title {
    @include main-title(48, $c-footer-text, $c-footer-text);
    text-decoration: none;
    float: left;
    width: 180px;
  }


  &__link {
    &-list {
      margin: 0;
      padding: 80px 0 0;
      min-height: 50px;
      text-align: right;

      @media screen and (min-width: 550px) {
        padding-top: 20px;
        padding-right: 100px;
      }
    }

    &-item {
      display: inline;
      margin: 0;
    }

    &--author {
      @extend %font-size-body;
      display: block;
      color: $c-footer-text;
      line-height: 24px;
    }

    &-image--author {
      border-radius: 50%;
      width: 80px;
      position: absolute;
      top: 15px;
      right: 20px;
    }

    &--twitter,
    &--github,
    &--linkedin {
      @extend %font-size-body;
      margin-left: 1em;
      color: $c-footer-text;
      line-height: 24px;
    }
  }
}
