
.main-title {
  @include main-title--shadows(64, $c-name-first, $c-name-last);
  margin: 0 0 40px;
  padding: 0;
}

.title {
  @include font-size(40);
  letter-spacing: -1px;
  margin: 15px 0 30px;
  font-weight: normal;
  line-height: 1em;
}
