
.main-title {
  @include main-title--shadows(64, $c-name-first, $c-name-last);
  text-decoration: none;
}

.title {
  @extend %font-title;
  @include font-size(40);
  letter-spacing: -1px;
  margin: 40px 0 20px;
}
