
header {
  margin: 0 0 4em;
}

header h1 {
  @extend %font-title;

  margin: 0;
  padding: 0;
}


.main-title {
  @include main-title--shadows(64, $c-name-first, $c-name-last);
  text-decoration: none;
}

.page-title {
  @extend %font-title;
  @include font-size(40);
  letter-spacing: -2px;
  text-transform: lowercase;
  margin-top: 20px;
}
