@import url('http://fonts.googleapis.com/css?family=Raleway:600');

%font-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

%font-body {
  font-family: Georgia, serif;
}

@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / 10;
}
