@import "colours";
@import "typography";
@import "title";
@import "layout";

// --------- Main layout ---------
html {
  @extend %font-body;
  font-size: 62.5%;
  background-color: #111f36; // background for short pages
}

body {
  @extend %font-style-body;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.body {
  @extend %col-center;
}



.hide {
  position: absolute;
  left: -999em;
  width: 1em;
  overflow: hidden;
}

@import "header";
@import "blog";
@import "footer";
