title = title || meta && meta.name
schema = meta && meta['@type'] || 'http://schema.org/WebPage'

!!!
html
	head
		title #{title} - JamesPamplin.com
		block head
			link(rel='stylesheet', href='/styles/style.css')

	body(itemtype=schema, itemscope)
		.body
			header
				h1(itemprop="name")
					a.title(href="/", title="JamesPamplin.com")
						span.first-name James
						span.last-name Pamplin

			article.content
				block content

		include ga.jade
