- var pageTitle = title || post && post.title || meta && meta.name
- var schema = meta && meta['@type'] || 'http://schema.org/WebPage'
- var articleSchema = contentSchema || post && 'http://schema.org/BlogPosting' || 'http://schema.org/Article'


mixin main-title
  a.main-title__link(href="/", title="JamesPamplin.com")
    span.main-title__text--first-name James
    | #{' '}
    span.main-title__text--last-name Pamplin


doctype html
html
  head
    title #{pageTitle} - JamesPamplin.com
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="icon", href="data:;base64,iVBORw0KGgo=")
      style
        include:node-sass includes/styles/main.scss


  body(itemtype=schema, itemscope)
    .body
      header
        block title
          h1.main-title(itemprop="name")
            +main-title

      article(itemprop="mainContentOfPage", itemscope, itemtype=articleSchema, itemref="author")
        block pre-content
        block content

    include includes/_footer

    include ga.jade
