- var pageTitle = title || post && post.title || meta && meta.name
- var schema = meta && meta['@type'] || 'http://schema.org/WebPage'

doctype html
html
  head
    title #{pageTitle} - JamesPamplin.com
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css')
      style
        include:node-sass includes/styles/main.scss


  body(itemtype=schema, itemscope)
    .body
      header
        a.main-title(href="/", title="JamesPamplin.com")
            span.main-title__text--first-name James
            span.main-title__text--last-name Pamplin

        h1.title(itemprop="name")
          = pageTitle

      block content

    include includes/_footer

    include ga.jade
