extends layout

block content
  aside.post-date
    = post.dateFormatted
  article.post
    != post.content
    div.tags
      - each tag in post.tags
        a(href=tagUrl(tag))
          span.label.label-info #{tag}
