extends layout

mixin post__tags
  aside.post__tags
    - each tag in post.tags
      a.post__tag(href=tagUrl(tag))
        = tag

block pre-content
  aside.post__date
    = post.dateFormatted

block content
  != post.content

  +post__tags
