extends page-layout

mixin post__tags
  aside.post__tags
    - each tag in post.tags
      a.post__tag(href=tagUrl(tag), itemprop="articleSection")
        = tag


block pre-content
  time.post__date(itemprop="datePublished", datetime=post.isoDate)
    = post.dateFormatted

  h1.title(itemprop="headline")
    = pageTitle


block content
  div(itemprop="articleBody")
    != post.content

  +post__tags
